 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">A propos</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#!/">Accueil</a></li>
        <li><a href="#!/agenda">Mon Agenda</a></li>
        <li><a href="#!/sessions">Sessions</a></li>
        <li><a href="#!/speakers">Présentateurs</a></li>
        <li class="active"><a href="#!/about">A propos</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="divAboutPhone">
  <h3>A propos du téléphone :</h3>
  <h4 class="aboutPhoneLine"><b>Platform</b> : {{device.platform}}</h4>
  <h4 class="aboutPhoneLine"><b>Version</b> : {{device.version}}</h4>
  <h4 class="aboutPhoneLine"><b>UUID</b> : {{device.uuid}}</h4>
  <h4 class="aboutPhoneLine"><b>Model</b> : {{device.model}}</h4>
  <h4 class="aboutPhoneLine"><b>Connection</b> : {{connection.type}}</h4>
</div>

<div class="divAboutApp">
  <h3>A propos de l'application :</h3>
  <h4 class="aboutPhoneLine"><b>Description</b> :</h4>
  <p id="appDescription">{{application.description}}</p>
  <h4 class="aboutPhoneLine"><b>Version</b> : {{application.version}}</h4>
  <h4 class="aboutPhoneLine"><b>Auteur</b> : {{application.author}}</h4>
  <h4 class="aboutPhoneLine"><b>Page Web</b> : <a class="webLink" href="{{application.web}}">{{application.web}}</a></h4>
</div>