 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Accueil</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#!/">Accueil</a></li>
        <li><a href="#!/agenda">Mon Agenda</a></li>
        <li><a href="#!/sessions">Sessions</a></li>
        <li><a href="#!/speakers">Présentateurs</a></li>
        <li><a href="#!/about">A propos</a></li>
      </ul>
    </div>
  </div>
</nav>

<img src="img/IMT_logo.jpg" class="img_centree"/>

<h2 align="center">Conférences</h1>
<h4 align="center">{{dateConf}}</h4>

<div class="divPagesIcon">
  <a href="#!/sessions">
    <img class="pagesIcon" src="img/sessions.png">
  </a>
  <a href="#!/speakers">
    <img class="pagesIcon" src="img/speakers.png">
  </a>
  <a href="#!/agenda">
    <img class="pagesIcon" src="img/agenda.png">
  </a>
  <a href="#!/about">
    <img class="pagesIcon" src="img/about.png">
  </a>
</div>